html,body{
    width: 100%;
    height:100%;
    background-color: #E3E6EB;
}
header{
    margin-top: 2.5rem;
    width: 100%;
    height:260px;
    background: url('../image/main/rectangle480Oval52BitmapGroup.png') no-repeat center center;
    background-size: cover;
}
.he_title{
    width: auto;
    height:2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
}
.he_title>span{
    display: inline-block;
    line-height: 2rem;
    color: #fff;
}
.he_title>span:nth-child(2){
    margin-right: .5rem;
}
.lable{
    width: 8px;
    height:12px;
    position: absolute;
    right:10px;
    top:.6rem;
    background: url('../image/editor/tableArrow.png') no-repeat center center;
    background-size: cover;
}
.swiper-container {
    width: 100%;
    height: 220px;
    /*margin: 20px auto;*/
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 150px !important;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius:5px;
}
/*.swiper-slide:nth-child(2n) {*/
    /*width: 40%;*/
/*}*/
/*.swiper-slide:nth-child(3n) {*/
    /*width: 20%;*/
/*}*/
.find_title{
    width: 70%;
    height:3rem;
    text-align: center;
    margin: 0 auto;
}
.find_title>span{
    display: inline-block;
    line-height: 3rem;
    font-size: 14px;
    color: #898C8F;
}
.find_title>span:first-child{
    width: 20%;
    border-bottom: 1px solid;
    height: 1px;
    margin-bottom: 4px;
}
.find_title>span:last-child{
    width: 20%;
    border-bottom: 1px solid;
    height: 1px;
    margin-bottom: 4px;
}
.find_title>span:nth-child(2){
    width: 56%;

}
.m_con_title{
    width: 100%;
    height:3rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.tab{
    width: 33%;
    height:2rem;
    border-right: 1px solid #ccc;
    margin-top: .5rem;
    text-align: center;
    line-height: 2rem;
}
.tab:last-child{
    border: none;
}
.pet_item{
    padding: 1rem;
    background-color: #fff;
    margin-top: 1rem;
    padding-right: 0;
}

.lable_circle {
    /* width: 1.5rem; */
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: .5rem;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.add_color {
    background-color: #FF6894;
    color: #fff;
}
.image_left{
    width: 66%;
}
.image_right{
    width: 34%;
}
#container {
    width: 100%;
    position: relative;
    background-color: red;
    overflow: hidden;
}
.placeholder:after {
    content: '';
    display: block;
    margin-top: 100%;
}
.placeholder>img {
    position: absolute;
    top: 0;
    width: 100%;
}
#container1 {
    width: 95%;
    position: relative;
    background-color: red;
    overflow: hidden;
    float: right;
    margin-bottom: 4%;
}
.placeholder1:after {
    content: '';
    display: block;
    margin-top: 100%;
}
.placeholder1>img {
    position: absolute;
    top: 0;
    width: 100%;
}
.pet_lost_time,.pet_lost_loc,.pet_lost_info,.pet_poster_info{
    padding: .5rem 1rem .5rem 0rem;
    height: 1.5rem;
    line-height: 1.5rem;
}
.pet_lost_time>span,.pet_lost_loc>span,.pet_lost_info>span,.pet_poster_info>span{
    display: block;
    line-height: 1.5rem;
    height: inherit;
    text-align: center;
}
.time_logo,.loc_logo{
    text-align: left !important;
}
.time_logo>img,.loc_logo>img{
    width: 50%;
}
.view_logo>img,.write_logo>img{
    width: 65%;
}

.image_left2,.image_right2{
    width: 49.2%;
}
#container_two {
    width: 100%;
    position: relative;
    background-color: red;
    overflow: hidden;
    float: right;
    margin-bottom: 4%;
}
.placeholder_two:after {
    content: '';
    display: block;
    margin-top: 100%;
}
.placeholder_two>img {
    position: absolute;
    top: 0;
    width: 100%;
}
.image_left3{
    width: 100%;
}
.title{
    width: 100%;
    height:2.5rem;
    position: fixed;
    top:0;
    z-index: 9999;
}
.b_title{
    width: 100%;
    height:2.5rem;
    background-color: #fff;
    position: relative;
}
.b_title>span{
    display: block;
    line-height: 2.5rem;
    text-align: center;
}
.b_title>span:nth-child(2){
    position: absolute;
    left: 40px;
    right: 32px;
    text-align: center;
    line-height: 2.5rem;
    bottom: 0;
}
.last_span,.first_span{
    line-height: 3.5rem;
    text-align: center;
}
.b_title>span>img,.detail_lost,.lost_msg{
    width: 50%;
}
.b_title>span:first-child{
    line-height: 3.5rem !important;
}
.pet_poster_info{
    border-top:1px solid #ccc ;
}
.pet_image,.pet_lost_time{
    padding-right: 1rem;
}